.plate{
    height: 310px;
    width: 300px;
    border: 1px solid #B6B6B6;
    border-radius: 20px;
    position: relative;
    padding: 11px;
}
.plate:hover{
    cursor: pointer;
}
.likeBtn{
    height: 30px;
    width: 30px;
    background-color: #B3D4E5;
    border-radius: 30px;
    border: 0;
    transition: 0.1s ease-out;
    position: absolute;
    top: 33px;
    right: 25px;
}
.likeBtn:hover{
    color: #EDA415;
    cursor: pointer;
    background-color: #70c4ee;
    transition: 0.2s ease;
}
.previewImage{
    margin: 0 auto;
    display: block;
    max-width: 80%;
    max-height: 155px;
    margin-top: 15px;
}
.name{
    margin: 0;
    color: #003F62;
    font-size: 17px;
    font-family: "PoppinsMedium";
    margin-bottom: 15px;
    margin-top: 5px;
}
.name:hover{
    color:crimson;
    text-decoration: underline;
}
.price{
    font-size: 17px;
    font-family: "PoppinsSemiBold";
    margin-bottom: 10px;
    display: inline-block;
}
.stars{
    color: #ACACAC;
}
.stars>svg{
    margin-right: 10px;
    transition: 0.1s ease-out;
}
