.defaultBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins";
    font-size: 14px;  
}

.topWrapper{
    width: 80vw;
    margin: 0 auto;
}

.defaultList{
    font-size: 14px;
    display: flex;
    list-style: none;
    padding: 0;
    
}
.defaultList>li:last-child{
    margin-right: 0px;
}
.defaultList>li>a>svg{
    font-size: 16px;
}
.defaultList>li>a{
    all:unset;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.defaultList>li>a:hover>span {
    color:crimson;
    text-decoration: underline;
}