
.headerBlock{
    composes : defaultBlock from '@/Default.module.css';
    justify-content: space-between;
    height: 75px;
}

.list{
    composes : defaultList from "@/Default.module.css";
}
.list>li{
    margin-right: 40px;
}

.list>li>a>svg{
    margin-right: 20px;
}
