.logo{
    width: 140px;
    height: 39px;
    background: url("../../../../images/logo\ 1.svg");
    margin-bottom: 5px;
}
.topNavigation{
    height: 100px;
    background-color: #003F62;
    composes : defaultBlock from '../Default.module.css';
}

.searchSide{
    display: flex;
    width: 665px;
    
    align-items: center;
}

.list{
    composes : defaultList from '../Default.module.css';
    color: white;
}
.list>li{
    margin-right: 30px;
}

.list>li>a>span{
    margin-left: 15px;
}
.list>li>a>svg{
    font-size: 18px !important;
}
.yellowCircle{
    height: 15px;
    width: 15px;
    background-color: #EDA415;
    color: white;
    display: flex;
    border-radius: 50px;
    margin-left: 3px;
    font-size: 9px;
    align-items: center;
    justify-content: center;
}
