.defaultBlock{
    display: flex;
    align-items: center;
    font-family: "Poppins";
    font-size: 14px;  
}

.topWrapper{
    width: 80vw;
    margin: 0 auto;
    
}

.defaultList{
    font-size: 14px;
    display: flex;
    list-style: none;
    padding: 0;
    
}
.defaultList>li:last-child{
    margin-right: 0px;
}
.defaultList>li>a>svg{
    font-size: 16px;
}
.defaultList>li>a{
    all:unset;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.defaultList>li>a:hover>span {
    color:crimson;
    text-decoration: underline;
}

.defaultBtn{
    font-size: 14px;
    border-radius: 20px;
    transition:  0.1s ease-out;
    font-size: 14px;
}

.defaultBtn:hover{
    cursor: pointer;
    transition: 0.2s ;
}
.defaultPrimaryBtn{
    composes: defaultBtn;
    border: 0;
    background-color: #EDA415;
    color: white;
}

.defaultPrimaryBtn:hover{
    background-color: #e98f12;
}

.defaultSecondBtn{
    composes: defaultBtn;
    border: 1px solid #1B5A7D;
    background-color: white;
    color:#1B5A7D;
}

.defaultSecondBtn:hover{
    background-color: #1f7cae;
    color: white;
}