.logo{
    width: 140px;
    height: 39px;
    background: url("@/../public/images/logo\ 1.svg");
    margin-bottom: 5px;
}
.topNavigation{
    composes : defaultBlock from '@/Default.module.css';
    justify-content: space-between;
    height: 100px;
    background-color: #003F62;
    padding-left: 50px;
    padding-right: 50px;
}

.searchSide{
    display: flex;
    width: 665px;
    align-items: center;
}

.list{
    composes : defaultList from '@/Default.module.css';
    color: white;
}
.list>li{
    margin-right: 30px;
}

.list>li>a>span{
    margin-left: 15px;
}
.list>li>a>svg{
    font-size: 18px !important;
}
.yellowCircle{
    height: 15px;
    width: 15px;
    background-color: #EDA415;
    color: white;
    display: flex;
    border-radius: 50px;
    margin-left: 3px;
    font-size: 9px;
    align-items: center;
    justify-content: center;
}

.bottomNavigation{
    composes : defaultBlock from '@/Default.module.css';
    height: 71px;
    background-color: #F4F4F4;
    padding-left: 50px;
    padding-right: 50px;
}

.categoriesBtn{
    background-color: #EDA415;
    color: white;
    border: 0;
    height: 100%;
    width: 218px;
    font-size: 16px;
    font-family: "PoppinsMedium";
    padding-right: 30px;
    position: relative;
    margin-right: 98px;
}
.categoriesBtn:hover{
    cursor: pointer;
    background-color: #e98f12;
    transition: 0.2s ;
}
.categoriesBtn>svg{  
    position: absolute;
    top:39%;
    right: 15px;
    font-size: 18px;
}

.pagesList{
    composes : defaultList from '@/Default.module.css';
}
.pagesList>li{
    height: 71px;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    padding-left: 30px;
    padding-right: 10px;
    transition: 0.2s ease-out;

}

.pagesList>li:hover{
    background-color:#c7c7c7;
    transition: 0.2s ease;
    cursor: pointer;
}

.pagesList>li>span{
    margin-right: 15px;
}
.pagesList>li>svg{
    margin-top: 2px;
    font-size: 16px;
}
.freeReturn{
    margin-left: auto;
    font-size: 16px;
    font-family: "PoppinsBold";
    color: #003F62;
}